@model FPTBookStore.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
